# Python cache and object files
__pycache__/
*.py[cod]

# Python installation packages
dist/

# Coverage.py
.coverage
.cov
coverage.xml

# Sphinx
doc/_build/
doc/pyVHDLModel/**/*.*
!doc/pyVHDLModel/index.rst

# BuildTheDocs
doc/_theme/**/*.*

# IntelliJ project files
/.idea/workspace.xml
