-r ../requirements.txt

# Enforce latest version on ReadTheDocs
sphinx ~= 9.1
#docutils ~= 0.22.0
docutils_stubs ~= 0.0.22

# ReadTheDocs Theme
sphinx_rtd_theme ~= 3.1

# Sphinx Extenstions
sphinxcontrib-mermaid ~= 2.0
autoapi >= 2.0.1
sphinx_design ~= 0.7.0
sphinx-copybutton >= 0.5.0
sphinx_autodoc_typehints ~= 3.6
sphinx_reports ~= 0.10.0
