-r ../requirements.txt

pyTooling>=2.4.0

# Enforce latest version on ReadTheDocs
sphinx>=5.2.3

# Sphinx Extenstions
#sphinxcontrib-mermaid>=0.7.1
autoapi>=2.0.1
sphinx_fontawesome>=0.0.6
sphinx_autodoc_typehints>=1.19.4
